services:
  nginx:
    build: ./

    ports:
      - 3001:80

    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
    
    volumes:
      - /app
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  next:
